




/*============= SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

/* course */
#course{
  background-color: lightgray;
}

/* navigation */

.navbar {
  background-color: black;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.navbar-brand img {
  height: 1.8rem;
}

.navbar-nav .nav-item{
  padding-right: 0.6rem;
}

.navbar-nav .nav-item .nav-link:hover{
  color: aqua;
}

/* landing */
.home-inner{
  background-image: url(img/computers.png);
  background-size: contain;
}

.caption{
  width: 100%;
  position: absolute;
  top: 40%;
  color: white;
  z-index: 1;
}

.caption h1{
  font-size: 1.8rem;
}

/* course */
#course{
  background-color: lightgray;
}

/* features */
.jumbotron{
  margin-bottom: 0;
  padding: 0;
}

.features-list{
  list-style: none;
}

/* clients */
.client{
  width: 90%;
  border-radius: 50%;
}

/* Footer */

footer a {
  color: gray;
}

footer a:hover {
  color: black;
}

footer img {
  height: 2rem;
  margin: 0.5rem 0;
}

/* Own media queries roles */

@media screen and (max-width:1199px){
  .client{
    max-width: 50%;
    min-width: 20vw; /* vw 20/100 dostępnej szerokości viewportu */
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
